<!--head-->
<%- include ('../partials/head.ejs') %>
<body>
  <!-- Navbar -->
  <%- include ('../partials/nav.ejs') %>

  <!--Header-->
  

  <!--Main section-->
	
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title"><%= product.nombre %></h2>
			</div>
		</div>
		<div class="product-detail">
			<div class="row">
				<div class="col-12 col-lg-8">
					<img src="/img/<%= product.image %>" alt="product image" class="product-detail-img">
					<p class="product-detail-description">
						<%= product.descripcion %>
					</p>
				</div>
				<div class="col-12 col-lg-4">
					<article class="product-detail-info">											
							<p class="product-detail-price small">
								<h2><span>Precio $<%= product.precio %></span></h2>
																
							</p>							
						<ul class="actions-list">
							<li>
								<i class="fas fa-credit-card"></i>
								<p>Pagá en efectivo o con transferencia</p>
							</li>							<li>
								<i class="fas fa-store"></i>
								<p>Domicilio gratis</p>
							</li>
						</ul>

						<a href="/cart/<%= product.id %>" class="buy-now-button">COMPRAR AHORA</a>
						<hr>

						<a href="/products/edit/<%= product.id %>" class="action-button edit">EDITAR PRODUCTO</a>
						<form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST" style="display: inline-flex">
							<button type="submit" class="action-button delete">ELIMINAR</button>
						</form>
					</article>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('../partials/footer') %>
	<!-- /footer -->

</body>	
</html>