<!--head-->
<%- include ('../partials/head.ejs') %>

	<body>
		<!-- Navbar -->
		<%- include ('../partials/nav.ejs') %>

			<!--Header-->


			<!--Main section-->

			<!-- product detail -->
			<div class="container-edit">

				<div class="products-title">
					<h2>
						<%= product.nombre %>
					</h2>
				</div>

				<div class="product-box-info">

					<article class="product-detail">
						<div class="box-product-detail">
							<div class="product-detail-info">
								<img src="/img/<%= product.image %>" alt="product image" class="product-detail-img">
							</div>
							<div class="product-detail-info">
								<div class="detail-description">
								<p><%= product.descripcion %></p>
								<h2><span>Precio $<%= product.precio %></span></h2>
								<p>Pagá en efectivo o con transferencia <i class="fas fa-credit-card"></i></p>
								<p>Domicilio gratis <i class="fas fa-store"></i></p>
								</div>
							</div>
						</div>

						<div class="box-edit">

							<div class="box-link">
								<a href="/cart/<%= product.id %>" class="buy-now-button">COMPRAR AHORA</a>
							</div>

							<div class="box-link">
								<a href="/products/edit/<%= product.id %>" class="action-button edit">EDITAR
									PRODUCTO</a>
							</div>

							<form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST">
								<button type="submit" class="action-button delete">ELIMINAR</button>
							</form>

						</div>

					</article>


				</div>
			</div>
			<!-- /product detail -->

			<!-- footer -->
			<%- include('../partials/footer.ejs') %>
				<!-- /footer -->

				<!--SCRIPT-->
				<script src="../script/nav.js"></script>
				<script src="../script/slider.js"></script>

	</body>

	</html>