<!--head-->
<%- include ('partials/head.ejs') %>
<body>
    <!-- Navbar -->
    <%- include ('partials/nav.ejs') %>

    <!--Header-->
    <%- include ('partials/header.ejs') %>

    <!-- == Events == -->
    <%- include ('partials/carrusel.ejs') %>

    <section class="explore">
      <div class="explore-content">
        <h1>EL PARAÍSO ESTÁ MÁS CERCA DE LO QUE CREES</h1>
        <div class="line"></div>
        <p></p>
        <a href="#" class="ctn">Learn More</a>
      </div>
    </section>

    

   <section class="tours">
        <div class="row">
            <div class="col content-col">
                <h1>CASQUILLERAS, LIMAS Y EL ATARDECER DE FONDO</h1>
                <div class="line"></div>
                <p>Disfrutar de una Casquillera es algo más que eso. Es disfrutar de su ritual y de todo lo que te rodea en ese instante para convertir un momento cualquiera en algo extraordinario.</p>
                <a href="#" class="ctn">Learn More</a>
            </div>
            <div class="col image-col">
                <div class="image-gallery">
                    <img src="img/slider1.jpeg" alt="">
                    <img src="img/slider2.jpeg" alt="">
                    <img src="img/slider3.jpeg" alt="">
                    <img src="img/slider4.jpeg" alt="">
                    <img src="img/slider5.jpeg" alt="">
                    <img src="img/slider6.jpeg" alt="">
                </div>
            </div>
        </div>
    </section>

<!--Footer-->
<%- include ('partials/footer.ejs') %>
    <script>
        const mobileNav = document.querySelector('.mobile-nav')
        const menuBtn = document.querySelector('.menu-btn')
        const navlinks = document.querySelector('.nav-links')
        const closeBtn = document.querySelector('.close-btn')

        mobileNav.addEventListener('click',(e)=>{
            navlinks.classList.toggle('mobile-menu')
            if(e.target === menuBtn){
                menuBtn.replaceWith(closeBtn)
                closeBtn.style.display = 'block'
            }
            if(e.target === closeBtn){
                closeBtn.replaceWith(menuBtn)
            }
        })
    </script>
</body>
</html>