<!--head-->
<%- include ('partials/head.ejs') %>
<body>
  <!-- Navbar -->
  <%- include ('partials/nav.ejs') %>

  <!--Header-->
  <%- include ('partials/header.ejs') %>

  <!--Main section-->

  <!--Footer-->
  <%- include ('partials/footer.ejs') %>

  <!--Script-->
  <%- include('partials/script.ejs') %>
</body>
