<!--head-->
<%- include ('partials/head.ejs') %>
<body>
  <!-- Navbar -->
  <%- include ('partials/nav.ejs') %>

  <!--Header-->
  

  <main>
    <section class="contenedor">
      <!--Contenedor de los objetos-->
      <div class="contenedor-item">
        <div class="item">
          <span class="titulo-item"><%= product.nombre %></span>
          <img src="/img/<%= product.image %>" alt="" class="img-item" />
          <span class="precio-item"><%= product.precio %></span>
          <button class="button-item">Agregar al Carrito</button>
        </div>
      </div>

      <!--carrito de compra-->
      <div class="carrito">
        <div class="carrito-header">
          <h2>Tu Carrito</h2>
        </div>
        <div class="carrito-items">
          <div class="carrito-item">
            <img src="/img/<%= product.image %>" alt="" width="80px" />
            <div class="carrito-item-detail">
              <span class="carrito-item-titulo"><%= product.nombre %></span>
              <div class="seletor-cantidad">
                <i class="fa-solid fa-minus restar-cantidad"></i>
                <input
                  type="text"
                  value="1"
                  class="carrito-item-cantidad"
                  disabled
                />
                <i class="fa-solid fa-plus sumar-cantidad"></i>
              </div>
              <span class="carrito-item-precio"><%= product.precio %></span>
            </div>
            <span class="btn-eliminar">
              <i class="fa-solid fa-trash"></i>
            </span>
          </div>
        </div>

        <div class="carrito-total">
          <div class="fila">
            <strong>Tu Total</strong>
            <span class="carrito-precio-total"> <%= product.precio %> </span>
          </div>
          <button class="btn-pagar">
            Pagar <i class="fa-solid fa-bag-shopping"></i>
          </button>
        </div>
      </div>
    </section>
  </main>

 <!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->

	<!--SCRIPT-->
	<script src="script/nav.js"></script>
    <script src="script/slider.js"></script>

</body>	
</html>