<!--head-->
<%- include ('partials/head.ejs', {title: 'Registro', styles:['Registro']}) %>

  <body>
    <!-- Navbar -->
    <%- include ('partials/nav.ejs') %>

  <!--Header-->


  <!--SECCION REGISTER-->

  <section id="section-register">
    <div id="container-register">
      <h3>Registra tu cuenta</h3>
      
      <form action="/usuario/register" method="POST" enctype="multipart/form-data">
        <div class="form-register">
          <input type="text" name="nombreCompleto" placeholder="Usuario" 
          value = " <%= locals.dataGuardada ? dataGuardada.nombreCompleto : null %>"
          />
          
          <% if (locals.errors && errors.nombreCompleto) { %>
            <div class="texto-advertencia">
              <%= errors.nombreCompleto.msg %>
            </div>
          <% } %>
          <input type="password" name="contrasenia" placeholder="Contraseña" />
          <input type="password" name="confirmaContrasenia"  placeholder="Confirma tu Contraseña" />
          <input type="email" name="email" placeholder="Indica tu email" />
          <input type="email" name="confirmaEmail" placeholder="Confirma tu email" />
          <input type="file" name="avatar">
        </div>
        <div class="terminos-condiciones">
          <input type="checkbox" name="terminos" />
          <label for="terminos">
            Declaro que he leído y autorizo el uso de mis datos personales de
            acuerdo a la <a href="#">Autorización</a> y acepto los
            <a href="#">Términos y Condiciones</a> de CASQUILLERA.</label
            >
          </div>
          <div class="button-register">
            <button type="submit">Completar registro</button>
          </div>
        </form>
    </div>
  </section>

  <!--Footer-->
  <%- include ('partials/footer.ejs') %>

  <!--Script-->
  <script src="script/nav.js"></script>
</body>
